<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <style>
        .vl {
            border-left: 4px solid black;
            height: auto;
        }
    </style>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet" integrity="sha384-
1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous">
    <script>
        function clickFunction(ime){
            pocetnoIme=document.getElementById("ime")
            pocetnoIme.innerText = ime.innerText
            document.getElementById("hiddenEl").value=ime.innerText
        }
    </script>
</head>
<body>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js
" integrity="sha384-
ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"
>

</script>
<div class="row">
    <div class="navbar navbar-dark bg-dark ">
        <div class="col-sm-4 d-flex justify-content-center">
            <a href="home.html"><button class="btn btn-light ">Home</button></a>
        </div>
    </div>
</div>
<br>

<br>
<div class="container-sm">
    <div class="row">
        <h4>Dashboard</h4>
    </div>
    <br>
    <div class="ms-4">
        <form method="get" th:action="@{/article/}">
        <div class="row">
            <div class="col-3">

                <h4><span class="badge bg-secondary w-100">Filter by source:</span></h4>
                <div class="dropdown">
                    <a id="ime" class="btn color-white dropdown-toggle w-100" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       Source
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <th:block th:each="enum : ${T(mk.ukim.finki.web.financeproject.model.enumerations.Source).values()}">
                        <li id="lista"><a id="enumName" th:value="${enum}" th:text="${enum}" onclick="clickFunction(this)" class="dropdown-item"></a></li>
                        </th:block>
                    </ul>
                </div>
            </div>
            <div class="col-3"> <h4><span class="badge bg-secondary w-100">Date from:</span></h4><h5><input name="from" class="text-center" id="calendar" type="datetime-local"></h5></div>
            <div class="col-3"> <h4><span class="badge bg-secondary w-100">Date to:</span></h4> <h5><input name="to" class="text-center" id="calendar" type="datetime-local"></h5></div>

            <div class="col-3">
                <h4><span class="badge bg-secondary w-100">URL</span></h4>
                <input type="text" class="form-control">
            </div>
        </div>
        <br>
        <div class="row ">
            <input type="hidden" name="source" id="hiddenEl">
            <input class="btn btn-success" type="submit" value="Filter">
        </div>
        </form>
        <br>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-5 bg-light ms-lg-8 text-center w-100">
                <table class="table w-100">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Text</th>
                        <th scope="col">Date</th>
                        <th scope="col">Source</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data : ${articles}">
                        <th th:text="${data.id}" scope="row"></th>
                        <td th:text="${data.title}">Title</td>
                        <td th:text="${data.text}" class="text-start">Text</td>
                        <td th:text="${data.date}">01.01.2022</td>
                        <td th:text="${data.source}">Twitter</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row">
            <div class="vl">
                <div id="title">
                    <h3>Title</h3>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Twitter-logo.svg" width="100px" height="50px">
                </div>
                <br>
                <div class="col-sm-4 text-break" id="description">
                    TextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextText
                </div>
                <div>
                    <button class="btn btn-success">View More</button>
                </div>
            </div>
            <div th:each="data : ${articles} " class="vl">
                <div id="title">
                    <h3 th:text="${data.title}"></h3>
                    <img src="https://play-lh.googleusercontent.com/MDRjKWEIHO9cGiWt-tlvOGpAP3x14_89jwAT-nQTS6Fra-gxfakizwJ3NHBTClNGYK4" width="150px" height="50px">
                </div>
                <br>
                <div th:text="${data.text}" class="col-sm-12" id="description">

                </div>
                <div>
                    <div th:text="${data.source}">
                    </div>
                    <div th:text="${data.date}">

                    </div>
                    <button class="btn btn-success">View More</button>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>